{% extends "base.html" %}

{% block content %}
    <h1>{{ current_class.major }} {{ current_class.coursenum }} - {{ current_class.title }}!</h1>
    <br>
    <table class="coursetable">
        <thead>
        <tr valign="bottom">
                <td width="20%"> Name </td>
                <td width="30%"> Email </td>
                <td width="30%"> Address </td>
                <td width="20%"> Student last seen at:</td>
        </tr>
    </thead>
    </table>

    {% for student in current_class.roster %}
        {% include '_student.html' %}
    {% endfor %}
    <a href="{{url_for('index')}}" class = "button"> Return to main page</a>
{% endblock %}
