<table class="coursetable">
    <tr>
        <td width="45%"> {{ class.major }} {{ class.coursenum}} - {{ class.title }}  </td>
        <td width="40%">
            {% if current_user.is_enrolled(class) == False %}
            <form action="{{ url_for('enroll', classid=class.id) }}" method="post">
                {{ form.hidden_tag() }}
                {{ form.submit(value='Enroll', class='button') }}
            </form>
            {% else %}
            <form action="{{ url_for('unenroll', classid=class.id) }}" method="post">
                {{ form.hidden_tag() }}
                {{ form.submit(value='Unenroll',class='button') }}
            </form>
            {{ moment.include_moment() }}
            Enrolled on {{ moment(current_user.getEnrolmentDate(class)).format('LL') }} 
            {% endif %}
        </td>
        <td width="15%">
            <a href="{{ url_for('roster',classid = class.id) }}">  {{ class.major }} {{ class.coursenum}} Roster </a>
        </td>
    </tr>

    </table>